@import "../../styles/variables";

.card-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 2em;
  border-radius: 5px;

  &__img {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 10em;
  }

  &__title {
    @extend .center;
  }

  &__title > p {
    line-height: 1.2em;
    font-weight: bold;
    margin: 0.7em auto;
  }

  &:hover {
    border: 1px solid $border-light;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
}